header {
    display: flex;
}

#mettreitalic{
    font-style: italic ;
    color: rgb(179, 179, 179);
}

#expHeader {
    background-color: aqua;
    width: 100%;
}

#titreLogiciel {
    padding-left: 35%;
    background-image: url("backgroundindex.jpg")
}

#gauche {
}

#droite {
    padding-left: 10%;
}

footer{
    margin-top: 5cm;
    background-color: rgb(126, 126, 126);
}

#HASANCINCI {
    padding-top: 1cm;
}