header {
    display: flex;
}

#mettreitalic {
    font-style: italic;
    color: rgb(179, 179, 179);
}

/*#expHeader {
    background-image: url("Workshops-Header-Background.png") ;
    width: 100%;
}*/

#expHeader {
    background-image: url("backgroundindex.jpg") ;
    text-align: center; 
    
}

#titreLogiciel {
    text-align: center;
    background-image: url("backgroundindex.jpg")
    
}

#gauche {}

#droite {
    padding-left: 0%;
}

footer {
    margin-top: 5cm;
    background-color: rgb(126, 126, 126);
}

#HASANCINCI {
    padding-top: 1cm;
    transform: translateX(80deg);
    border: #242f3f solid;
}


#loisirs {
    margin-top: 10px;
    padding-left: 5%;
}

#sportpng {
    height: 58%;
    width: 58%;
    margin-left: 1.5cm;
    display: flex;
    justify-content: center;
    align-items: center;

}



#cartevoyage {
    padding-left: 15%;
}

#portraithasan {
    border: 5px solid rgb(187, 253, 255);
}

/*@media (prefers-color-scheme: dark) {
    /* custom css 
}

body {
    background-color: #1c1c1e;
    color: #fefefe;
}*/

#pdfbutton {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    /*background-image: url("backgroundindex.jpg")*/
    animation-duration: 2s;
    animation-name: slidein;
    
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
}

#expbande
{
    background-image: url("backgroundindex.jpg");
    text-align: center;
}

.fa {
    padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-linkedin {
    background: #3B5998;
    color: white;
    margin-left: 50px;
  }
 
/*FAKE CHARGEMENT*/

/*body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    background-color: #eee;
  }*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader 
  {
    0%{transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
 @keyframes loader-inner 
  {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  #chargementdebut
  {
      /*animation: chargement1 1s forwards;*/
      animation: chargement1 3s forwards;
      /*animation-iteration-count: 1;*/
  }

  @keyframes chargement1 {
      0% {opacity: 100%;}
      /*50% {opacity: 50%;}*/
      100% {opacity: 0%;}
  }

/* DARK MODE */

body 
{
    background-color: white;
    color: black;
}

#btnDarkMode
{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
 
}  
.dark-mode 
{
    background-color: rgb(36, 39, 53);
    color: white;
}


#navbar
{
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.nav-item
{
    margin-right: 0.5cm;
}