header {
    display: flex;
}

#mettreitalic {
    font-style: italic;
    color: rgb(179, 179, 179);
}

#expHeader {
    background-color: aqua;
    width: 100%;
}

#titreLogiciel {
    padding-left: 35%;
    background-image: url("backgroundindex.jpg")
}

#gauche {}

#droite {
    padding-left: 10%;
}

footer {
    margin-top: 5cm;
    background-color: rgb(126, 126, 126);
}

#HASANCINCI {
    padding-top: 1cm;
}


#loisirs {
    margin-top: 10px;
    padding-left: 5%;
}

#sportpng {
    height: 58%;
    width: 58%;
}

#pdfbutton {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-image: url("backgroundindex.jpg")
}

#cartevoyage {
    padding-left: 15%;
}

#portraithasan {
    border: 5px solid rgb(187, 253, 255);
}

/*@media (prefers-color-scheme: dark) {
    /* custom css 
}

body {
    background-color: #1c1c1e;
    color: #fefefe;
}*/